<header>
    <div class="logo-container">
        <img
                src="{{ asset('images/logo.png') }}"
                height="150"
                alt=""
                loading="lazy"
        />
    </div>
</header>